.playContainer {
  max-height: 300px;
  max-width: 300px;
  text-align: center;
}

button {
  width: 250px;
}

@media (max-width: 374px) {
  .playContainer {
    max-height: 180px;
    max-width: 180px;
    text-align: center;
  }
  button {
    width: 100px;
  }
}
